.grid {
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-rows: 400px 200px;
  justify-items: center;
  justify-content: center;
}

.column1 {
  background-color: #829FD9;
  width: 100%;
  border: 1px solid black;
}

.column2 {
  background-color: #5C73F2;
  width: 100%;
  border: 1px solid black;
}

.fun {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.fun1{
  background-color: red;
}

.fun2 {
  background-color: green;
}

.fun3 {
  background-color: blue;
}